{:lein true
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:entries [app.core]}}
                :devtools {:http-root "public"
                           :http-port 4040
                           :before-load app.core/stop
                           :after-load app.core/start}}
          :ci {:target :karma
               :output-to "out/ci.js"
               :ns-regexp "-test$"}}}
